
@{
    ViewData["Title"] = "Excepcion";
    ViewData["Navbar-Title"] = "Reportes > Excepciones";

    List<object> operators = new List<object>();
    operators.Add(new { value = "contains", text = "contains" });
    //var formatoFecha = new { type = "datetime", format = "dd-MMM-yyyy" };

    var formaroFecha = new { type = "datetime", format = "dd/MM/yyyy HH:mm" };

}
@model wDualAssistence.Models.ExcepcionViewModel

@section Styles {

    
}

<div class="content-wrapper">
    <section class="content">
        <div class="panel panel-default">
            
            <div class="panel-body">
                <section class="content-body">


                    <ejs-grid id="gridTurno" dataSource="@Model.listaExcepcion" allowPaging="true" allowFiltering="true" locale="es" gridLines="Both">
                        <e-grid-filterSettings type="Menu" mode="OnEnter" operators="@(new { stringOperator = operators })"></e-grid-filterSettings>
                        <e-grid-pagesettings enableQueryString="true" pageSize="10"></e-grid-pagesettings>
                        <e-grid-columns>
                            <e-grid-column field="id" isPrimaryKey="true" visible="false"></e-grid-column>
                            <e-grid-column field="cod_origen" headerText="COD ORIGEN" headerTextAlign="Center" textAlign="Left" width="40"></e-grid-column>
                            <e-grid-column field="ci" headerText="CI" headerTextAlign="Center" textAlign="Left" width="40"></e-grid-column>
                            <e-grid-column field="tipo" headerText="TIPO" headerTextAlign="Center" textAlign="Left" width="80"></e-grid-column>
                            <e-grid-column field="fecha_inicio" headerText="FECHA INICIO" headerTextAlign="Center" textAlign="Left" width="80" type="datetime" customFormat="@formaroFecha"></e-grid-column>
                            <e-grid-column field="fecha_fin" headerText="FECHA FIN" headerTextAlign="Center" textAlign="Left" width="80" type="datetime" customFormat="@formaroFecha"></e-grid-column>
                            <e-grid-column field="fecha_reg" headerText="FECHA REGISTRO" headerTextAlign="Center" textAlign="Left" width="80" type="datetime" customFormat="@formaroFecha"></e-grid-column>
                        </e-grid-columns>
                    </ejs-grid>




                </section>
            </div>
        </div>

    </section>
</div>


