@{
    ViewData["Title"] = "Marcaciones desde Biométrico";
    ViewData["Navbar-Title"] = "Recursos > Registrar Marcación Biométrico";
}
@model wDualAssistence.Models.MarcacionBiometricoViewModel


@section Styles {

    <style>
        .e-upload {
            visibility: hidden !important;
        }

        #fotoActual {
            width: 200px;
            height: 200px;
        }

        /*#region Estilo Tabs*/
        .e-content .e-item {
            font-size: 12px;
            padding: 10px;
            text-align: justify;
        }


        .e-group:before {
            content: '\f0c0';
        }

        .e-photo:before {
            content: '\f03e';
        }

        .e-sitemap:before {
            content: '\f0e8';
        }

        #tabUsuario {
            padding-top: 10px;
        }

        /*#endregion*/

        #nombre_usuario {
            text-transform: uppercase;
        }
    </style>

    <style>
        .e-treeview .e-ul {
            padding: 0 0 0 0px !important;
        }

        .e-level-1 {
            background: #8888883d !IMPORTANT;
            margin-top: 2px !IMPORTANT;
        }

        .e-level-2 {
            background: white;
        }

        .searchTrue {
            color: red !important;
        }

        .boton-accion {
            float: right;
            margin-top: -25px;
            margin-bottom: 5px;
        }
    </style>
}

<div class="content-wrapper">
    <section class="content">
        <form id="frmUsuario" class="form-horizontal" asp-controller="MarcacionBiometrico" asp-action="Post" autocomplete="off" data-ajax="true" data-ajax-method="POST"
              data-ajax-begin="onAjaxBegin" data-ajax-complete="onAjaxComplete" data-ajax-loading="#loading" enctype="multipart/form-data"
              data-ajax-success="fnSuccess(data)" data-ajax-failure="fnFailure()">
            <div class="panel panel-default">
                <div class="panel-heading heading-primary">
                       <span class="capa_btn volver">
                        <button class="btn btn-base cancelar" type="button" onclick="irAListado()">
                            <span class="fa span-button volver"></span>
                            <p class="text-button-primary">VOLVER</p>
                        </button>
                    </span>
                    <span class="capa_btn confirmar">
                        <button class="btn btn-base guardar btn-submit">
                            <span class="fa span-button confirmar"></span>
                            <p class="text-button-primary">GUARDAR</p>
                        </button>
                    </span>
                </div>
                <div class="panel-body">
                    <section class="content-body">
                        <div class="row">
                            <div class="col-xs-12 col-sm-4 col-lg-3 col-md-4">
                                <h4> Formato de Marcación:</h4>
                                <div class="">
                                    <ejs-dropdownlist id="ddlFormato" dataSource="@Model.listaFormatos" showClearButton="true" ejs-for="eMarcacionBiometrico.id_formato_marcacion_biometrico"
                                                      placeholder="Seleccionar formato..." popupHeight="220px" locale="es"
                                                      allowFiltering="true">
                                        <e-dropdownlist-fields text="nombre" value="id"></e-dropdownlist-fields>
                                    </ejs-dropdownlist>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-lg-3 col-md-4">
                                <h4> Ubicación:</h4>
                                <div class="">
                                    <ejs-dropdownlist id="ddlEmpresa" dataSource="@Model.listaEmpresas" showClearButton="true" ejs-for="eMarcacionBiometrico.id_empresa"
                                                      placeholder="Seleccionar ubicación..." popupHeight="220px" locale="es"
                                                      allowFiltering="true">
                                        <e-dropdownlist-fields text="nombre" value="id"></e-dropdownlist-fields>
                                    </ejs-dropdownlist>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-lg-4 col-md-4">
                                <h4> Archivo Marcación:</h4>
                                <div class="form-control">
                                    <input type="file" asp-for="@Model.archivo" value="" accept=".xls,.xlsx" />
                                </div>
                                <p style="color:red">* Nota: Tomar en cuenta que la hoja del excel tiene que tener como nombre ASISTENCIA. </p>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-lg-2 col-md-4">
                                <h4>&nbsp;</h4>
                                <button class="btn btn-primary" type="button" onclick="procesarExcel()">Vista Previa</button>
                            </div>
                        </div>

                        <br />
                        <div>
                            <ejs-grid id="Grid" created="onCreateGrid" allowPaging="true" locale="es" gridLines="Both">
                                <e-grid-pagesettings pageSize="10"></e-grid-pagesettings>
                                <e-grid-columns>
                                    <e-grid-column field="id" headerTextAlign="Center" headerText="Nº" textAlign="Center" width="10"></e-grid-column>
                                    <e-grid-column field="codigo_biometrico" headerTextAlign="Center" headerText="CODIGO BIOMETRICO" textAlign="Center" width="80"></e-grid-column>
                                    <e-grid-column field="fecha_marcacion" headerText="FECHA Y HORA MARCACION" type="datetime" format="dd/MM/yyyy HH:mm" headerTextAlign="Center" textAlign="Center" width="80"></e-grid-column>
                                </e-grid-columns>
                            </ejs-grid>
                        </div>

                    </section>
                </div>
            </div>
        </form>

    </section>
</div>

<script type="text/x-template" id="indiceFila">
    <p>${getRowIndex()}</p>
</script>


@section PreScripts {

    <script>

        var oGrid;
        var id_parametro = 0;

        function onCreateGrid() {
            oGrid = document.getElementById('Grid').ej2_instances[0];
        }

        function procesarExcel() {
            const form = document.getElementById('frmUsuario');
            const formData = new FormData(form);

             $.ajax({
                    url: '@Url.Action("ProcesarExcel", "MarcacionBiometrico")',
                    type: 'POST',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        onAjaxComplete();
                        if (data.transaccion === true) {
                            oGrid.dataSource = data.contenido;
                            oGrid.refresh();
                            mensajeV1("Archivo procesado correctamente", msgOk);
                        } else {
                            mensajeV1(data.mensaje, msgError);
                        }
                    },
                    error: function (xhr, status, error) {
                        onAjaxComplete();
                        mensajeV1("Error al procesar el archivo. Por favor, intente nuevamente.", msgError);
                    }
                });
        }
    </script>

}

@section Scripts {


    <script type="text/javascript">

         function irAListado() {
            window.document.location.href = '@Url.Action("Listado", "MarcacionBiometrico")';
        }

        //Despues del Submit del Form Principal
        function fnSuccess(data) {
            if (data.transaccion == true) {
                mensajeV1("Transacción exitosa!", msgOk);
                irAListado();
            }
            else
                mensajeV1(data.mensaje, msgError);
        }

        function fnFailure() {
            mensajeV1(errorServidor, msgOk);
        }
    </script>

}


